*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.act{
    border-bottom: 1px solid white; 
}
.modal-dialog{
    width: 50%;
    height: 200vh !important;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');



.menu{
    background-color: black !important;
}

.logo h1{
    font-size: 28px;
    margin: 0;
    line-height: 1;
    font-weight: 400;
    color: white !important;
    font-family: 'Great Vibes', cursive;
}
.logo a{
    text-decoration: none;
    color: rgb(104, 236, 253);
}
.logo a{
    text-decoration: none !important;
    color: rgb(243, 9, 243) !important;
}


ul li > a{
    color: white !important;
}


ul li > a:hover{
    background-color: rgb(78, 122, 187);
    border-radius: 10%;
    border-bottom: 1px solid white;
}

body{
    background-image:url("Book1.jpg");
    background-size: cover;
    background-blend-mode: darken,luminosity;
    display: flex;
    flex-direction: column; 
}




.but p1:hover{
    color: rgb(0, 0, 0);
    font-weight: bolder;
    background-color: rgb(235, 111, 235);
    border-radius: 1vh;
}

.but p2:hover{
    color: rgb(0, 0, 0);
    font-weight: bolder;
    background-color:rgb(235, 111, 235);
    border-radius: 1vh;

}

.but p3:hover{
    color: rgb(0, 0, 0);
    font-weight: bolder;
    background-color:rgb(235, 111, 235) ;
    border-radius: 1vh;

}

.but{
    
    width: fit-content;
   margin-left: 10%;
   position: relative;
   align-items: center;
   padding-top: 1%;
  
}


.but2
{
    width: fit-content;
   
    margin-right: 8%;

    
}

.box{
    position: relative;
    display: flex;
    top: 20vh;
    color: whitesmoke;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(53, 58, 58);
}

feet{
    bottom: 0%;
}


.but p1:hover{
    color: rgb(0, 0, 0);
    font-weight: bolder;
    background-color: rgb(235, 111, 235);
    border-radius: 1vh;
}

.but p2:hover{
    color: rgb(0, 0, 0);
    font-weight: bolder;
    background-color:rgb(235, 111, 235);
    border-radius: 1vh;

}

.but p3:hover{
    color: rgb(0, 0, 0);
    font-weight: bolder;
    background-color:rgb(235, 111, 235) ;
    border-radius: 1vh;

}

.but{
    
    width: fit-content;
   margin-left: 10%;
   position: relative;
   align-items: center;
   padding-top: 1%;
  
}

.but2
{
    width: fit-content;
   
    margin-right: 8%;

    
}

.box{
    position: relative;
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    align-items: center;
    
    
}

.med{
    border-radius: 1vh;
    margin-left: 2vh;
  
}

.text1{
    color: rgb(14, 14, 14)!important;
    font-weight: bold;
} 

.but p1{
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
}

.but p2{
    color: #ffffff;
    font-weight: normal;
}

.med{
    border-radius: 1vh;
    margin-left: 2vh;
  
}

.text1{
    color: rgb(255, 255, 255)!important;
    font-weight: normal;
    text-decoration: none;
} 

.text1:hover{
    text-decoration: none;
}

.but2 button{
    background: none;
    padding: .5vh;
}

.but2 button:hover{
    background-color:rgb(235, 111, 235) ;
}

/* 8888888888888888888888888888888888 */


.academic h1{
    color: rgb(255, 255, 255);
    font-size: 5vh;
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 1vh;
}

.academic{
margin-top: 10vh;
padding-left: 3vh;
position: relative;
align-self: center;
border-bottom: 2px solid white;
margin-bottom: 4vh;
}

.matric{
    border-right: 5px solid rgb(206, 175, 175);
    border-bottom: 5px solid rgb(206, 175, 175);
    border-radius: 5vh;
    margin-bottom: 5vh;
    width: fit-content;
    padding: 2vh;
    margin-left: 5vh;

}

.matric:hover{
    border-radius: 5vh;
    border: 5px solid #ffffff;
    border-style: dashed;
    background-color: rgb(102, 101, 101);
}

.inter{
    border-right: 5px solid rgb(206, 175, 175);
    border-bottom: 5px solid rgb(206, 175, 175);
    border-radius: 5vh;
    margin-bottom: 5vh;
    width: fit-content;
    padding: 2vh;
    margin-left: 5vh;

}

.inter:hover{
    border-radius: 5vh;
    border: 5px solid #ffffff;
    border-style: dashed;
    background-color: rgb(102, 101, 101);
}


.grad{
    border-right: 5px solid rgb(206, 175, 175);
    border-bottom: 5px solid rgb(206, 175, 175);
    border-radius: 5vh;
    margin-bottom: 5vh;
    width: fit-content;
    padding: 2vh;
    margin-left: 5vh;

}

.grad:hover{
    border-radius: 5vh;
    border: 5px solid #ffffff;
    border-style: dashed;
    background-color: rgb(102, 101, 101);
}

p1{
    color: aliceblue;
    font-size: 5vh;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.1vh;
}

p{
    color: aqua;
    font-size: medium;
    font-weight: 600;
}

p2{
    color: aqua;
    font-size: medium;
    font-weight: 600;

}